table, tr, td{
    padding: 5px;
    border: 1px solid rgb(170, 155, 155);
    border-collapse: collapse;
    text-align: center;
}
table.week-form,table.month-form {
    width: calc(100% - 80px);
}
table.week-form tbody{
    font-size: 30px;
}
table.week-form tbody tr td span{
    display: none;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
.calendar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    padding: 20px 0;
    width: 100%;
}
.btn-handle{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.header-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 40px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;

}
.ant-btn.ant-btn-default{
    margin: 0 15px;

}
.list-btn{
    display: flex;
    flex-direction: row;
}
.week{
    font-size: 2rem;
}