@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
    margin-top: 0;
    padding: 0;
    box-sizing: border-box;
}
main.ant-layout-content.site-layout-background{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.body-user-form{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
h2{
    margin: 20px 0;
}
.form-container-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 40px; */
    /* width: 80%;
    background-color: #fcfcfe;
    box-shadow: 0px 0px 7px 1px rgb(153, 148, 148); */
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    width: 70%;

}
.btn{
    margin-top: 2rem;
    height: 40px;
    position: relative;
}

.btn button{
    position: absolute;
    right: 10px;
}
.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}
.input-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 2px solid #ececf3;
    border-radius: 10px;
    padding: 10px;
    width: 15rem;
}
.input-container input{
    outline: none;
    border: none;
}
.icon{
    margin-right: 10px;
    color: #005cb3;
}
.icon-upload{
    color: #1842ff;
}
.line{
    height: 1px;
    width: 100%;
    background-color: #ececf3;
}
.input-upload{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.upload-text{
    color: #1890ff;
    display: inline-block;
}
button.upload-file{
    position: relative;
    overflow: hidden;
    outline: none;
    border: none;
    background-color: #e9ecf6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
}
.upload-file input[type="file"]{
    position: absolute;
    left: 0;
    opacity: 0;
}
.icon-upload{
    cursor: pointer;
}
p{
    width: 80%;
    color: #004f99;
}
h5{
    margin-top: 10px;
    color: #1d72c2;

}
.user-card .ant-modal-content{
    max-width: 500px;
    transform: translateX(35px);
}
.ant-modal-footer{
    display: flex;
    justify-content: space-between;
}
.ant-card-cover{
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}